<p id="notice"><%= notice %></p>

<p>
  <strong>Float:</strong>
  <%= @drink_ingredient.float %>
</p>

<%= link_to 'Edit', edit_drink_ingredient_path(@drink_ingredient) %> |
<%= link_to 'Back', drink_ingredients_path %>
