<h1>Bartender</h1>
<%= form_tag("select_drink") do %>
  <p>
    <select name="method">
        <% Drink.uniq.pluck(:method).each do |m| %>
          <option value="<%= m %>"><%= m %></option>
        <% end %>
    </select>
  <%= submit_tag "Search" %>
  </p>
<% end %>

